@model Mvc5OnlineTicariOtomasyon.Models.Siniflar.SatisHareket
@{
    ViewBag.Title = "SatisGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/style/style.css" rel="stylesheet" />
</head>
<body>
    <br />
    <h2>SatisGuncelle</h2>
    <br />
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Satış Id: @ViewBag.s</li>
    </ol>
    @using (Html.BeginForm("SatisGuncelle", "Satis", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.SatisId)
        <br />
        @Html.LabelFor(x => x.Urun)
        @*@Html.DropDownListFor(x => x.UrunID, (List<SelectListItem>)ViewBag.deger1, new { @class = "form-control" })*@
        @Html.TextBoxFor(x => x.UrunID, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UrunID, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.Cariler.CariAd)
        @*@Html.DropDownListFor(x => x.CariId, (List<SelectListItem>)ViewBag.deger2, new { @class = "form-control" })*@
        @Html.TextBoxFor(x => x.CariId, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CariId, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.Personel)
        @*@Html.DropDownListFor(x => x.PersonelId, (List<SelectListItem>)ViewBag.deger3, new { @class = "form-control" })*@
        @Html.TextBoxFor(x => x.PersonelId, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PersonelId, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.BirimFiyat)
        @Html.TextBoxFor(x => x.BirimFiyat, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.BirimFiyat, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.Adet)
        @Html.TextBoxFor(x => x.Adet, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Adet, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.Tutar)
        @Html.TextBoxFor(x => x.Tutar, new { @readonly = "readonly", @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Tutar, "", new { @style = "color:red" })
        <br />

        <button class="button"><span>Kaydet</span></button>
    }
</body>
