@model Mvc5OnlineTicariOtomasyon.Models.Siniflar.SatisHareket
@{
    ViewBag.Title = "YeniSatisEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/style/style.css" rel="stylesheet" />
</head>
<body>
    <br />
    <h2>Yeni Satiş Ekleme Sayfası</h2>
    <br />
    <form class="form-group" method="post">
        @*@Html.LabelFor(x => x.Tarih)
            @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })*@
        <br />
        @Html.Label("Ürün ID")
        @Html.TextBoxFor(x => x.UrunID, new { @class = "form-control" })
        @*@Html.DropDownListFor(x => x.UrunID, (List<SelectListItem>)ViewBag.deger1, new { @class = "form-control" })*@
        @Html.ValidationMessageFor(x => x.UrunID, "", new { @style = "color:red" })
        <br />
        @Html.Label("Cari ID")
        @Html.TextBoxFor(x => x.CariId, new { @class = "form-control" })
        @*@Html.DropDownListFor(x => x.CariId, (List<SelectListItem>)ViewBag.deger2, new { @class = "form-control" })*@
        @Html.ValidationMessageFor(x => x.CariId, "", new { @style = "color:red" })
        <br />
        @Html.Label("Personel ID")
        @Html.TextBoxFor(x => x.PersonelId, new { @class = "form-control" })
        @*@Html.DropDownListFor(x => x.PersonelId, (List<SelectListItem>)ViewBag.deger3, "Seçiniz ", new { @class = "form-control" })*@
        @Html.ValidationMessageFor(x => x.PersonelId, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.BirimFiyat)
        @Html.TextBoxFor(x => x.BirimFiyat, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.BirimFiyat, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.Adet)
        @Html.TextBoxFor(x => x.Adet, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Adet, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.Tutar)
        @Html.TextBoxFor(x => x.Tutar, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Tutar, "", new { @style = "color:red" })
        <br />
        <button class="button"><span>Satış Yap</span></button>
    </form>
</body>
