@model Mvc5OnlineTicariOtomasyon.Models.Siniflar.Departman
@{
    ViewBag.Title = "DepartmanGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/style/style.css" rel="stylesheet" />
</head>
<body>
    <br />
    <h2>DepartmanGuncelle</h2>
    <br />
    @using (Html.BeginForm("DepartmanGuncelle", "Departman", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.DepartmanId)
        <div class="form-group">
            @Html.LabelFor(x => x.DepartmanAd)
            @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.DepartmanAd, "", new { @style = "color:red" })
            <br />
            @Html.LabelFor(x => x.Durum)
            @Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Durum, "", new { @style = "color:red" })
        </div>
        <button class="button"><span>Güncelle</span></button>

    }
</body>