@using Mvc5OnlineTicariOtomasyon.Models.Siniflar
@model List<Cariler>
<div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ad-Soyad</th>
                <th>Şehir</th>
                <th>Mail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model)
            {
                <tr>
                    <td>@c.CariId</td>
                    <td>@c.CariAd @c.CariSoyad</td>
                    <td>@c.CariSehir</td>
                    <td>@c.CariMail</td>
                </tr>
            }
        </tbody>
    </table>
</div>

