@using Mvc5OnlineTicariOtomasyon.Models.Siniflar
@model List<Fatura>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/style/style.css" rel="stylesheet" />
</head>
<body>
    <br />
    <h2>Faturalar</h2>
    <br />
    <table class="table table-bordered">
        <tr>
            <td>Fatura ID</td>
            <td>Sıra  No</td>
            <td>Tarih</td>
            <td>Saat</td>
            <td>Vergi Dairesi</td>
            <td>Teslim Eden</td>
            <td>Teslim Alan</td>
            <td>Toplam Tutar</td>
            <td>Güncelle</td>
            <td>Detay</td>
            <td>Yeni Kalem</td>
        </tr>
        @foreach (var f in Model)
        {
            <tr>
                <td>@f.FaturaId</td>
                <td>@f.FaturaSiraNo</td>
                <td>@f.Tarih</td>
                <td>@f.Saat</td>
                <td>@f.VergiDairesi</td>
                <td>@f.TeslimAlan</td>
                <td>@f.TeslimEden</td>
                <td>@f.ToplamTutar</td>
                <td><a href="/Fatura/FaturaGuncelle/@f.FaturaId" class="btn btn-warning">Güncelle</a></td>
                <td><a href="/Fatura/FaturaDetay/@f.FaturaId" class="btn btn-info">Detay</a></td>
                <td><a href="/Fatura/FaturaDetay/@f.FaturaId" class="btn btn-success">Kalem</a></td>
            </tr>

        }
    </table>
    <a href="/Fatura/YeniFaturaEkle" class="button"> <span>Yeni Fatura Ekle</span> </a>
    <button class="button" style="color:white;" data-toggle="modal" data-target="#Modal1"><span>PopUp</span></button>
    <div class="modal" id="Modal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">
                        PopUp Dialog Ekranı
                    </h2>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <tr>
                            <td>Fatura Sira No</td>
                            <td>Tarih</td>
                            <td>Saat</td>
                            <td>Tutar</td>
                        </tr>
                        @foreach (var f in Model)
                        {
                            <tr>
                                <td>@f.FaturaSiraNo</td>
                                <td>@f.Tarih</td>
                                <td>@f.Saat</td>
                                <td>@f.ToplamTutar</td>
                            </tr>
                        }
                    </table>
                    <button type="button" data-dismiss="modal" class="btn btn-danger">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</body>