@model Mvc5OnlineTicariOtomasyon.Models.Siniflar.Fatura
@{
    ViewBag.Title = "YeniFaturaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/style/style.css" rel="stylesheet" />
</head>
<body>
    <br />
    <h2>Yeni Fatura Ekle</h2>
    <br />
    <form class="form-group" method="post">
        @Html.LabelFor(x => x.FaturaSiraNo)
        <br />
        @Html.TextBoxFor(x => x.FaturaSiraNo, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.FaturaSiraNo, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.FaturaSeriNo)
        <br />
        @Html.TextBoxFor(x => x.FaturaSeriNo, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.FaturaSeriNo, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.Tarih)
        <br />
        @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Tarih, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.Saat)
        <br />
        @Html.TextBoxFor(x => x.Saat, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Saat, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.VergiDairesi)
        <br />
        @Html.TextBoxFor(x => x.VergiDairesi, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.VergiDairesi, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.TeslimAlan)
        <br />
        @Html.TextBoxFor(x => x.TeslimAlan, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TeslimAlan, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.TeslimEden)
        <br />
        @Html.TextBoxFor(x => x.TeslimEden, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TeslimEden, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.ToplamTutar)
        <br />
        @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ToplamTutar, "", new { @style = "color:red" })
        @*@Html.LabelFor(x => x.ToplamTutar)
        <br />
        @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control" })
        <br />*@
        <br />

        <button class="button"><span>Ekle</span></button>
    </form>
</body>