@model Mvc5OnlineTicariOtomasyon.Models.Siniflar.KargoDetay
@{
    ViewBag.Title = "YeniKargoEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/style/style.css" rel="stylesheet" />
</head>
<body>
    <h2>Yeni Kargo Ekleme Sayfası</h2>
    <br />
    <form class="form-group" method="post">
        @Html.LabelFor(x => x.KargoTakipKodu)
        <br />
        <input type="text" name="KargoTakipKodu" value="@ViewBag.takipKod" readonly class="form-control" />
        <br />
        @Html.LabelFor(x => x.GonderenPersonel)
        <br />
        @Html.TextBoxFor(x => x.GonderenPersonel, new { @class = "form-control" })
        @*@Html.DropDownListFor(x => x.GonderenPersonel, (List<SelectListItem>)ViewBag.deger3, new { @class = "form-control" })*@
        @Html.ValidationMessageFor(x => x.GonderenPersonel, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.AliciCari)
        <br />
        @Html.TextBoxFor(x => x.AliciCari, new { @class = "form-control" })
        @*@Html.DropDownListFor(x => x.AliciCari, (List<SelectListItem>)ViewBag.deger2, new { @class = "form-control" })*@
        @Html.ValidationMessageFor(x => x.AliciCari, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.Aciklama)
        <br />
        @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Aciklama, "", new { @style = "color:red" })
        <br />
        <br />
        <button class="button"><span>Ekle</span></button>
    </form>
</body>